html {
    height: 100%;
    background-color: #cfffc4;
}

* {
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d6d0cb;

}

form .item {
    padding: 10px;
    margin: 2px;
    border: 1px solid #9e4f09;
    border-radius: 1px;
}

button.item {
    color: #2e367a;
    background-color: #9e4f09;
    font-weight: bold;
}

.btn {
   display: flex;
    justify-content: center;
}
