doctype html
html(lang="ru")
head
  title=title
  meta(charset='UTF-8')
  link(rel='stylesheet', href='/css/styles.css')
body
  div.content
    if value === -1
      p(class='error-message') #{(name ? 'Пользователя ' + name : 'Вы не ввели имя пользователя')} не существует
    else
      p(class='success-message') Пользователь #{name} успешно добавлен
    .btn
      button.btn-back(type='button', onclick='history.back()') Вернуть
